html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial, Sans Serif;
  font-size: 14px;
  line-height: 160%;
  color: rgba(250, 250, 230, 0.6);
}

button {
  outline: none;
  cursor: pointer;
}

#output {
  height: 220px !important;
}

.center {
  text-align: center;
}

.bj-conteiner {
  position: absolute;
  width: 1024px;
  height: 613px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #777;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.bj-conteiner .table {
  width: 100%;
  height: 100%;
}

.bj-conteiner .card {
  background: url(../img/cards.png);
  display: inline-block;
  width: 46px;
  height: 63px;
  border: 1px solid #333;
  border-radius: 4px;
  position: absolute;
}

.bj-conteiner .card.bc {
  background: url(../img/bc.jpg);
  background-size: 100%;
}

.bj-conteiner .card.ch {
  background-position: -2px -198px;
}

/*heart*/
.bj-conteiner .card.cd {
  background-position: -2px -296px;
}

/*diamond*/
.bj-conteiner .card.cc {
  background-position: -2px -394px;
}

/*club*/
.bj-conteiner .card.cs {
  background-position: -2px -492px;
}

/*spade*/

.bj-conteiner .card.ch.c2 {
  background-position: -52px -137px;
}

.bj-conteiner .card.ch.c3 {
  background-position: -102px -137px;
}

.bj-conteiner .card.ch.c4 {
  background-position: -152px -137px;
}

.bj-conteiner .card.ch.c5 {
  background-position: -202px -137px;
}

.bj-conteiner .card.ch.c6 {
  background-position: -253px -137px;
}

.bj-conteiner .card.ch.c7 {
  background-position: -302px -137px;
}

.bj-conteiner .card.ch.c8 {
  background-position: -352px -137px;
}

.bj-conteiner .card.ch.c9 {
  background-position: -402px -137px;
}

.bj-conteiner .card.ch.c10 {
  background-position: -452px -137px;
}

.bj-conteiner .card.ch.cj {
  background-position: -502px -137px;
}

.bj-conteiner .card.ch.cq {
  background-position: -552px -137px;
}

.bj-conteiner .card.ch.ck {
  background-position: -602px -137px;
}

.bj-conteiner .card.ch.ca {
  background-position: -2px -137px;
}

.bj-conteiner .card.cd.c2 {
  background-position: -52px -204px;
}

.bj-conteiner .card.cd.c3 {
  background-position: -102px -204px;
}

.bj-conteiner .card.cd.c4 {
  background-position: -152px -204px;
}

.bj-conteiner .card.cd.c5 {
  background-position: -202px -204px;
}

.bj-conteiner .card.cd.c6 {
  background-position: -253px -204px;
}

.bj-conteiner .card.cd.c7 {
  background-position: -302px -204px;
}

.bj-conteiner .card.cd.c8 {
  background-position: -352px -204px;
}

.bj-conteiner .card.cd.c9 {
  background-position: -402px -204px;
}

.bj-conteiner .card.cd.c10 {
  background-position: -452px -204px;
}

.bj-conteiner .card.cd.cj {
  background-position: -502px -204px;
}

.bj-conteiner .card.cd.cq {
  background-position: -552px -204px;
}

.bj-conteiner .card.cd.ck {
  background-position: -602px -204px;
}

.bj-conteiner .card.cd.ca {
  background-position: -2px -204px;
}

.bj-conteiner .card.cc.c2 {
  background-position: -52px -338px;
}

.bj-conteiner .card.cc.c3 {
  background-position: -102px -338px;
}

.bj-conteiner .card.cc.c4 {
  background-position: -152px -338px;
}

.bj-conteiner .card.cc.c5 {
  background-position: -202px -338px;
}

.bj-conteiner .card.cc.c6 {
  background-position: -253px -338px;
}

.bj-conteiner .card.cc.c7 {
  background-position: -302px -338px;
}

.bj-conteiner .card.cc.c8 {
  background-position: -352px -338px;
}

.bj-conteiner .card.cc.c9 {
  background-position: -402px -338px;
}

.bj-conteiner .card.cc.c10 {
  background-position: -452px -338px;
}

.bj-conteiner .card.cc.cj {
  background-position: -502px -338px;
}

.bj-conteiner .card.cc.cq {
  background-position: -552px -338px;
}

.bj-conteiner .card.cc.ck {
  background-position: -602px -338px;
}

.bj-conteiner .card.cc.ca {
  background-position: -2px -338px;
}

.bj-conteiner .card.cs.c2 {
  background-position: -52px -271px;
}

.bj-conteiner .card.cs.c3 {
  background-position: -102px -271px;
}

.bj-conteiner .card.cs.c4 {
  background-position: -152px -271px;
}

.bj-conteiner .card.cs.c5 {
  background-position: -202px -271px;
}

.bj-conteiner .card.cs.c6 {
  background-position: -253px -271px;
}

.bj-conteiner .card.cs.c7 {
  background-position: -302px -271px;
}

.bj-conteiner .card.cs.c8 {
  background-position: -352px -271px;
}

.bj-conteiner .card.cs.c9 {
  background-position: -402px -271px;
}

.bj-conteiner .card.cs.c10 {
  background-position: -452px -271px;
}

.bj-conteiner .card.cs.cj {
  background-position: -502px -271px;
}

.bj-conteiner .card.cs.cq {
  background-position: -552px -271px;
}

.bj-conteiner .card.cs.ck {
  background-position: -602px -271px;
}

.bj-conteiner .card.cs.ca {
  background-position: -2px -271px;
}

.bj-conteiner .join-panel {
  display: none;
  position: absolute;
  top: 120px;
  left: 428px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .start-panel {
  display: none;
  position: absolute;
  width: 200px;
  top: 210px;
  left: 377px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .win-panel {
  display: none;
  position: absolute;
  width: 200px;
  top: 210px;
  left: 377px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .input-panel {
  display: none;
  position: absolute;
  width: 200px;
  top: 210px;
  left: 377px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .nomoney-panel {
  position: absolute;
  width: 160px;
  top: 398px;
  left: 398px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px 30px;
  border-radius: 3px;
  border: 1px solid #963; /* box-shadow: 1px 1px 5px 1px #000; */
  z-index: 20;
  color: red;
  display: none;
}

.bj-conteiner .game-panel {
  position: absolute;
  width: 270px;
  top: 144px;
  left: 347px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .start-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  display: block;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
  display: block;
  margin: 5px auto;
}

.bj-conteiner .start-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .new-wallet input[type="text"],
.bj-conteiner .input-panel input[type="text"] {
  padding: 8px;
  margin: 4px;
  background: rgba(0, 0, 0, 0.7);
  color: #fe9;
  border: 1px solid rgba(150, 150, 150, 0.8);
  border-radius: 8px;
  outline: none;
}

.bj-conteiner .new-wallet input[type="text"]:focus,
.bj-conteiner .input-panel input[type="text"]:focus {

  border: 1px solid rgba(150, 150, 150, 1);
}

.bj-conteiner .input-panel button,
.bj-conteiner .game-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  display: block;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
  display: block;
  margin: 5px auto;
}

.bj-conteiner .input-panel button:hover,
.bj-conteiner .game-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .new-wallet button,
.bj-conteiner .input-panel button {
  display: inline-block;
}

.bj-conteiner .input-panel .text,
.bj-conteiner .win-panel .text,
.bj-conteiner .join-panel .text,
.bj-conteiner .start-panel .text {
  color: #eee;
  text-align: center;
  font-size: 14pt;
}

.bj-conteiner .new-wallet {
  margin-top: 10px;
  display: none;
}

.bj-conteiner .text-error {
  color: red;
}

.bj-conteiner .join-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  display: block;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
}

.bj-conteiner .join-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .d-qty {
  display: none;
  position: absolute;
  top: 160px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 433px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p1-qty,
.bj-conteiner .p1-qty-s {
  display: none;
  position: absolute;
  top: 400px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 7px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p1-qty-s {
  left: 123px;
}

.bj-conteiner .p1-text,
.bj-conteiner .p1-text-split {
  position: absolute;
  top: 350px;
  left: 52px;
  z-index: 3;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0px;
  width: 57px;
  border-radius: 6px;
  border: 1px solid #963;
  box-shadow: 1px 1px 11px 1px #000;
  font-size: 10pt;
  text-align: center;
  display: none;
}

.bj-conteiner .p1-bet {
  position: absolute;
  top: 287px;
  left: 52px;
  font-size: 10pt;
}

.bj-conteiner .p2-qty,
.bj-conteiner .p2-qty-s {
  display: none;
  position: absolute;
  top: 475px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 213px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p2-qty-s {
  top: 475px;
  left: 330px;
}

.bj-conteiner .p2-text,
.bj-conteiner .p2-text-split {
  position: absolute;
  display: none;
  top: 415px;
  left: 258px;
  z-index: 3;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0px;
  width: 57px;
  border-radius: 6px;
  border: 1px solid #963;
  box-shadow: 1px 1px 11px 1px #000;
  font-size: 10pt;
  text-align: center;
}

.bj-conteiner .p2-bet {
  position: absolute;
  top: 343px;
  left: 261px;
  font-size: 10pt;
}

.bj-conteiner .p3-qty,
.bj-conteiner .p3-qty-s {
  display: none;
  position: absolute;
  top: 505px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 442px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p3-qty-s {
  left: 551px;
}

.bj-conteiner .p3-text,
.bj-conteiner .p3-text-split {
  position: absolute;
  top: 437px;
  display: none;
  left: 489px;
  z-index: 3;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0px;
  width: 57px;
  border-radius: 6px;
  border: 1px solid #963;
  box-shadow: 1px 1px 11px 1px #000;
  font-size: 10pt;
  text-align: center;
}

.bj-conteiner .p3-bet {
  position: absolute;
  top: 378px;
  left: 483px;
  font-size: 10pt;
}

.bj-conteiner .p4-qty,
.bj-conteiner .p4-qty-s {
  display: none;
  position: absolute;
  top: 477px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 672px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p4-qty-s {
  left: 779px;
}

.bj-conteiner .p4-text,
.bj-conteiner .p4-text-split {
  position: absolute;
  top: 415px;
  left: 717px;
  display: none;
  z-index: 3;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0px;
  width: 57px;
  border-radius: 6px;
  border: 1px solid #963;
  box-shadow: 1px 1px 11px 1px #000;
  font-size: 10pt;
  text-align: center;
}

.bj-conteiner .p4-bet {
  position: absolute;
  top: 343px;
  left: 709px;
  font-size: 10pt;
}

.bj-conteiner .p5-qty,
.bj-conteiner .p5-qty-s {
  display: none;
  position: absolute;
  top: 406px;
  /* background-color: #0d6a5d; */
  width: 33px;
  left: 875px;
  height: 33px;
  text-align: center;
  color: #eee;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 3px 0;
  border: 2px solid #963;
}

.bj-conteiner .p5-qty-s {
  left: 985px;
}

.bj-conteiner .p5-text,
.bj-conteiner .p5-text-split {
  position: absolute;
  top: 350px;
  display: none;
  left: 926px;
  z-index: 3;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0px;
  width: 57px;
  border-radius: 6px;
  border: 1px solid #963;
  box-shadow: 1px 1px 11px 1px #000;
  font-size: 10pt;
  text-align: center;
}

.bj-conteiner .p5-bet {
  position: absolute;
  top: 287px;
  left: 915px;
  font-size: 10pt;
}

.bj-conteiner .p1-name {
  position: absolute;
  top: 270px;
  left: 51px;
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 11pt;
}

.bj-conteiner .p2-name {
  position: absolute;
  top: 325px;
  left: 260px;
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 11pt;
}

.bj-conteiner .p3-name {
  position: absolute;
  top: 360px;
  left: 483px;
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 11pt;
}

.bj-conteiner .p4-name {
  position: absolute;
  top: 325px;
  left: 709px;
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 11pt;
}

.bj-conteiner .p5-name {
  position: absolute;
  top: 270px;
  left: 915px;
  color: yellow;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 11pt;
}

.bj-conteiner .begin-panel {
  display: none;
  position: absolute;
  text-align: center;
  top: 75px;
  left: 386px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .begin-panel .text {
  color: #eee;
  text-align: center;
  font-size: 14pt;
}

.bj-conteiner .begin-panel #starting-bet {
  display: block;
}

.bj-conteiner .begin-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
}

.bj-conteiner .begin-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .deck {
  display: none;
  position: absolute;
  top: 50px;
  left: 70px;
}

.bj-conteiner .deck div:nth-child(1) {
  position: absolute;
}

.bj-conteiner .deck div:nth-child(2) {
  position: absolute;
  top: -1px;
  left: -1px;
}

.bj-conteiner .deck div:nth-child(3) {
  position: absolute;
  top: -2px;
  left: -2px;
}

.bj-conteiner .deck div:nth-child(4) {
  position: absolute;
  top: -3px;
  left: -3px;
}

.bj-conteiner .deck div:nth-child(5) {
  position: absolute;
  top: -4px;
  left: -4px;
}

.bj-conteiner .deck div:nth-child(6) {
  position: absolute;
  top: -6px;
  left: -5px;
}

.bj-conteiner .deck div:nth-child(7) {
  position: absolute;
  top: -8px;
  left: -7px;
}

.bj-conteiner .insurance-panel {
  display: none;
  position: absolute;
  text-align: center;
  top: 210px;
  left: 360px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .insurance-panel .text {
  color: #eee;
  text-align: center;
  font-size: 14pt;
}

.bj-conteiner .insurance-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
}

.bj-conteiner .insurance-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .control-panel {
  display: none;
  position: absolute;
  text-align: center;
  top: 210px;
  left: 363px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 14px 26px;
  border-radius: 10px;
  border: 1px solid #963;
  box-shadow: 1px 1px 12px 2px #000;
  z-index: 20;
}

.bj-conteiner .control-panel .text {
  color: #eee;
  text-align: center;
  font-size: 14pt;
}

.bj-conteiner .control-panel button {
  padding: 6px 21px;
  margin: 0 auto;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
}

.bj-conteiner .control-panel button:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .visible {
  display: block;
}

.bj-conteiner .hidden {
  display: none;
}

.bj_t1 {
  z-index: 3;
  cursor: pointer;
  display: none;
  background: url(../img/chips.png);
  background-size: 320%;
  background-position: -3px -1px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 534px;
  left: 361px;
  border-radius: 40px; /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8); */
}

.bj_t2 {
  z-index: 3;
  cursor: pointer;
  display: none;
  background: url(../img/chips.png);
  background-size: 320%;
  background-position: -56px -1px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 540px;
  left: 421px;
  border-radius: 40px; /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8); */
}

.bj_t3 {
  z-index: 3;
  cursor: pointer;
  display: none;
  background: url(../img/chips.png);
  background-size: 320%;
  background-position: -109px -1px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 541px;
  left: 483px;
  border-radius: 40px; /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8); */
}

.bj_t4 {
  z-index: 3;
  cursor: pointer;
  display: none;
  background: url(../img/chips.png);
  background-size: 320%;
  background-position: -27px -50px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 540px;
  left: 544px;
  border-radius: 40px; /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8); */
}

.bj_t5 {
  z-index: 3;
  cursor: pointer;
  display: none;
  background: url(../img/chips.png);
  background-size: 320%;
  background-position: -81px -51px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 538px;
  left: 604px;
  border-radius: 40px; /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8); */
}

.bj-conteiner .button-sit {
  display: none;
  padding: 6px 0px;
  width: 65px;
  margin: 0 auto;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 2px solid rgba(150, 150, 150, 0.3);
  border-radius: 8px;
  position: absolute;
}

.bj-conteiner .button-sit:hover {
  border: 2px solid #fe9;
}

.bj-conteiner .sit-1 {
  top: 355px;
  left: 47px;
}

.bj-conteiner .sit-2 {
  top: 415px;
  left: 254px;
}

.bj-conteiner .sit-3 {
  top: 436px;
  left: 486px;
}

.bj-conteiner .sit-4 {
  top: 415px;
  left: 717px;
}

.bj-conteiner .sit-5 {
  top: 355px;
  left: 930px;
}

.bj-conteiner .card-holder {
  width: 48px;
  height: 65px;
  border-radius: 4px;
  position: absolute;
  transition: 0.3s;
}

.bj-conteiner .card-holder.active {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card-split-1,
.card-split-2,
.card-split-3,
.card-split-4,
.card-split-5 {
  z-index: 1;
}

.card-holder-1-s1,
.card-holder-2-s1,
.card-holder-3-s1,
.card-holder-4-s1,
.card-holder-5-s1 {
  z-index: 1;
}

.bj-conteiner .card.active {
  z-index: 2;
}

.bj-conteiner .user-info {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.gp-small {
  color: #fe8;
}

.gp-k {
  color: #eee;
}

.gp-m {
  color: #4f9;
}

#exit-game {
  padding: 2px 13px;
  background: rgba(0, 100, 250, 0.6);
  background: -webkit-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -o-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: -moz-linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  background: linear-gradient(rgba(0, 150, 250, 0.6), rgba(0, 30, 150, 0.8));
  color: #fff;
  border: 1px solid rgba(150, 150, 150, 0.3);
  border-radius: 6px;
  margin: 5px auto;
}

#exit-game:hover {
  border: 1px solid #fe9;
}

.your-name {
  cursor: pointer;
}